@import "tailwindcss";

@layer base {
  html, body, #root {
    @apply h-full antialiased;
    margin: 0;
    padding: 0;
  }
}

/* frontend/src/index.css */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}